{%extends '../base.html' %}
{%load static %}
{% block content %}
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">
    <!-- Evaluacion -->
    <div class="w3-container" id="designers" style="margin-top:50px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Bienvenido</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      
      {% for evaluacion in evaluaciones %}
        <div class="w3-panel  w3-margin-bottom">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-red w3-xlarge w3-padding-26">Evaluación {{evaluacion.id }} </i></li>
            <li> Fecha de inicio: {{evaluacion.fecha_Inicio}}</li>
            <li> Fecha de fin: {{evaluacion.fecha_Fin}}</li>
            {{% if evaluacion.is_Open %}}
            <li class="w3-small w3-text-green">Abierta</li>
            {% else %}
            <li class="w3-small w3-text-red">Cerrada</li>
            {% endif %}
            </li>
          </ul>
        </div>
        {% endfor %}
      

      

    </div>
    <!-- End page content -->
  </div>
  {% endblock %}