{% extends '../base.html' %}
{% load static %}
{%block content%}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px"> <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluacion</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    {% if mensaje %}
      {% for msj in mensaje %}
      <hr style="width:50px;border:5px solid green" class="w3-round">
      <h3 class="w3-large w3-text-green"><i class="far fa-check-circle"></i> <b>{{ msj }}</b></h3>
      <hr style="width:50px;border:5px solid green" class="w3-round">
      {% endfor %}
    {% endif %}
  </div>
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    {% if errors %}
      {% for msj in errors %}
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <h3 class="w3-large w3-text-red"><i class="far fa-times-circle"></i> <b>{{ msj }}</b></h3>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      {% endfor %}
    {% endif %}
  </div>
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    {% if info_msg %}
      {% for msj in info_msg %}
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <h3 class="w3-large w3-text-blue"><i class="far fa-times-circle"></i> <b>{{ msj }}</b></h3>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      {% endfor %}
    {% endif %}
  </div>

  <!--
    <label><b>Apellido</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Ingrese apellido" name="psw" required>
            <label><b>Correo</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Ingrese correo" name="secc" required>
          <button class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Agregar</button>
        </div>
      </form>
      </div>
    </div>
    -->
  <!-- Evaluaciones de la base de datos-->
  {% for evaluacion in evaluaciones %}
  <button onclick="getEvaluacion('{{evaluacion.id}}')" class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
    <h3>
      {{ evaluacion.nombre }}</h3>
  </button>
  <div id="{{evaluacion.id}}" class="w3-hide w3-container w3-pale-red w3-center w3-padding-large w3-margin"
    style="width: 75%">
    <p class="parrafo"></p>
    <div class="w3-container">
      <a href="/evaluacion/evaluador/evaluar/{{evaluacion.id}}"
        class="w3-button w3-large w3-margin-right w3-red w3-left w3-round">Evaluar</a>
    </div>
  </div>

  {% empty %}
  <button class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
    <h3>
      No hay evaluaciones en las que estes asociado</h3>
  </button>
  
  {% endfor %}
</div>




</div>
<script>
  /*
  GetEvaluacion: funcion que toma el id de un elemento del html y despliega el
  resumen de la evaluacion de ese id. Pide al servidor asincronamente tales datos
  @id: el id del elemento para los detalles
  @return: nada, modifica el html
  */
  function getEvaluacion(id){
    //fetch es una funcion para pedir datos al servidor de manera asincrona (no usamos el XMLHttpRequest por que esta obsoleto, pero se parece a hacer AJAX, es decir, pedir info sin recargar toda la pagina)
    //devuelve una promesa, esto es, un objeto de JS que dice que va a hacer despues con tal info
    fetch("/ajax/evaluacion?query_id=" + id, {
      method: 'GET',
      headers: { //headers of the submition
        'Accept': 'application/json, text/plain, */*',
        'Content-type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest'
      },
      credentials: 'include'
    })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html con el resumen
        let option = document.getElementById(id);
        let p = option.querySelector(".parrafo");
        p.innerHTML = "";
        let arr = [];
        for (let k in data) {
          let li = document.createElement("li");
          if(k == "Estado: "){
              
              if(data[k]){
                  let texto = document.createTextNode(k + 'Abierta');
                  li.style.color = "green";
                  li.appendChild(texto);
                p.appendChild(li);
                continue;
              }
              else{
                  console.log(3);
                  let texto = document.createTextNode(k + 'Cerrada');
                  {% comment %} texto.style.color = "red" {% endcomment %}
                  li.style.color = "red";
                  li.appendChild(texto);
                  
                p.appendChild(li);
                continue;
              }
          }
          else{
            console.log(4);
            let texto = document.createTextNode(k + data[k]);
            li.appendChild(texto);
            p.appendChild(li);
            continue;
          }
          
        }
        let x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      });
  }
</script>
{% endblock%}