{% extends '../base.html' %}
{% load static %}
{%block content%}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px" <!-- Portada -->
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Evaluacion</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    {% if mensaje %}
      {% for msj in mensaje %}
      <hr style="width:50px;border:5px solid green" class="w3-round">
      <h3 class="w3-large w3-text-green"><i class="far fa-check-circle"></i> <b>{{ msj }}</b></h3>
      <hr style="width:50px;border:5px solid green" class="w3-round">
      {% endfor %}
    {% endif %}
  </div>
  <div class="w3-container" id="portada" style="margin-top:80px; margin-bottom:10px">
    {% if errors %}
      {% for msj in errors %}
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <h3 class="w3-large w3-text-red"><i class="far fa-times-circle"></i> <b>{{ msj }}</b></h3>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      {% endfor %}
    {% endif %}
  </div>
  <div class="w3-container">
    <button onclick="document.getElementById('agregar').style.display='block'"
      class="w3-button w3-large w3-red w3-right w3-round">Agregar nueva evaluación </button><br>
  </div>

  {% comment %} Formulario para agregar evaluaciones {% endcomment %}
  <div id="agregar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <div class="w3-center"><br>
        <span onclick="document.getElementById('agregar').style.display='none'"
          class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        <!--Formulario creacion evaluacion-->
          <form id="creacion_evaluacion" enctype="multipart/form-data" action="" method="post" class="w3-container">
          {% csrf_token %}
          <div class="w3-section" id="errors-section">
          </div>
          <div class="w3-section">
          <ul class='w3-ul'>
            <li for="nombre_evaluacion"><b>Nombre evaluación</b></li>
            {{form.nombre}}

            <li for="fecha_inicio"> <b> Fecha de inicio </b> </li>
            {{form.fecha_Inicio}}

            <li for="fecha_fin"> <b> Fecha fin </b> </li>
            {{form.fecha_Fin}}

            <li for="curso-evaluacion"> <b> Curso a evaluar </b> </li>
            {{form.id_Curso}}

            <li for="rubrica"><b>Rúbrica</b><br></li>
            {{form_rubrica.id_Rúbrica}}
            </ul>

            <button onclick="validar(event,'creacion_evaluacion')" class="w3-button w3-block w3-red w3-section w3-padding"
              type="submit">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  {% comment %} formulario modificacion evaluacion {% endcomment %}
  <div id="modificar" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      <div class="w3-center"><br>
        <span onclick="document.getElementById('modificar').style.display='none'"
          class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        <!--Formulario modificacion evaluacion-->
          <form id="modificacion_evaluacion" enctype="multipart/form-data" action="editar" method="post" class="w3-container">
          {% csrf_token %}
          <div class="w3-section" id="errors-section">
          </div>
          <div class="w3-section">
          <input type="hidden" name="evaluacion_id" id="post_id"/>
          <ul class='w3-ul' >
            <div id="mod_ul"></div>
            {% comment %} <li><b>Nombre evaluación</b></li>
            <li><input type="text" id="mod_nombre" name="mod_nombre"></li>

            <li> <b> Fecha de inicio </b> </li>
            <li><input type="date" id="mod_fecha_inicio" name="mod_fecha_inicio"></li>

            <li> <b> Fecha fin </b> </li>
            <li><input type="date" id="mod_fecha_fin" name="mod_fecha_fin"></li> {% endcomment %}
            <li id="rubrica_select"></li>
            </ul>
            {% if evaluacion.is_Editable %}
            <button onclick="validar(event, 'modificacion_evaluacion')" class="w3-button w3-block w3-red w3-section w3-padding"
              type="submit">Modificar</button>
            {% else %}
            <button onclick="validarActualizacion(event, 'modificacion_evaluacion')" class="w3-button w3-block w3-red w3-section w3-padding"
              type="submit">Modificar</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--
    <label><b>Apellido</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Ingrese apellido" name="psw" required>
            <label><b>Correo</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Ingrese correo" name="secc" required>
          <button class="w3-button w3-block w3-red w3-section w3-padding" type="submit">Agregar</button>
        </div>
      </form>
      </div>
    </div>
    -->
  <!-- Evaluaciones de la base de datos-->
  {% if object_list|length > 0 %}
  {% for evaluacion in object_list %}
  <button onclick="getEvaluacion('{{evaluacion.id}}')" class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
    <h3>
      {{ evaluacion.nombre }}</h3>
  </button>
  <div id="{{evaluacion.id}}" class="w3-hide w3-container w3-pale-red w3-center w3-padding-large w3-margin"
    style="width: 75%">
    <p class="parrafo"></p>
    <div class="w3-container">
      <a href="/evaluacion/{{evaluacion.id}}"
        class="w3-button w3-large w3-margin-right w3-red w3-left w3-round">Ver</a>
      <button class="w3-button w3-large w3-red w3-left w3-round" onclick="modificarEvaluacion('{{evaluacion.id}}')">Modificar</button>
      {% if evaluacion.is_Editable %}
      <form action="eliminar/{{ evaluacion.id }}" method="POST">{% csrf_token %}
        <input type='submit' value='Eliminar' class="w3-button w3-large w3-red w3-right w3-round">
      </form>
      {% else %}
        <button type='button' disabled="true"  class="w3-button w3-large w3-red w3-right w3-round" >Eliminar</button>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  {% else %}
  <button class="w3-btn w3-red w3-block w3-margin" style="width: 75%">
    <h3>
      No hay evaluacion creada aun</h3>
  </button>
  
  {%endif%}
</div>




</div>
<script>
  /*
  GetEvaluacion: funcion que toma el id de un elemento del html y despliega el
  resumen de la evaluacion de ese id. Pide al servidor asincronamente tales datos
  @id: el id del elemento para los detalles
  @return: nada, modifica el html
  */
  function getEvaluacion(id){
    //fetch es una funcion para pedir datos al servidor de manera asincrona (no usamos el XMLHttpRequest por que esta obsoleto, pero se parece a hacer AJAX, es decir, pedir info sin recargar toda la pagina)
    //devuelve una promesa, esto es, un objeto de JS que dice que va a hacer despues con tal info
    fetch("/ajax/evaluacion?query_id=" + id, {
      method: 'GET',
      headers: { //headers of the submition
        'Accept': 'application/json, text/plain, */*',
        'Content-type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest'
      },
      credentials: 'include'
    })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html con el resumen
        let option = document.getElementById(id);
        let p = option.querySelector(".parrafo");
        p.innerHTML = "";
        let arr = [];
        for (let k in data) {
          let li = document.createElement("li");
          if(k == "Estado: "){
              
              if(data[k]){
                  let texto = document.createTextNode(k + 'Abierta');
                  li.style.color = "green";
                  li.appendChild(texto);
                p.appendChild(li);
                continue;
              }
              else{
                  console.log(3);
                  let texto = document.createTextNode(k + 'Cerrada');
                  {% comment %} texto.style.color = "red" {% endcomment %}
                  li.style.color = "red";
                  li.appendChild(texto);
                  
                p.appendChild(li);
                continue;
              }
          }
          else{
            console.log(4);
            let texto = document.createTextNode(k + data[k]);
            li.appendChild(texto);
            p.appendChild(li);
            continue;
          }
          
        }
        let x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      });
  }


  /*
    Valida la informacion para la creacion y modificacion de una evaluacion.
  */
  const validar = (submit, form_id) => {
    let form = document.querySelector(`#${form_id}`);
    let div_error_section = form.querySelector("#errors-section");
    div_error_section.innerHTML = "";
    let name = form.querySelector("#nombre");
    let fecha_inicio = form.querySelector("#fecha-inicio");
    let fecha_fin = form.querySelector("#fecha-fin");

    let regexFecha = new RegExp("[0-9]{4}-[0-9]{2}-[0-9]{2}");
    let regexName = new RegExp("[a-zA-Z]+[a-zA-Z0-9]*$");
    
    let errors = [];
    let val_fecha_fin = true;
    
    if (!regexName.test(name.value)) {
      let nameError = `<p>Error en el Nombre ${name.value}</p>`;
      errors.push(nameError);
    }
    if (!regexFecha.test(fecha_inicio.value)) {
      let nameError = `<p>Error en fecha de inicio</p>`;
      errors.push(nameError);
    }
    if(!regexFecha.test(fecha_fin.value)){
        let nameError = `<p class="w3-text-red">Error en fecha fin</p>`;
      errors.push(nameError);
    }

    if(fecha_inicio.value > fecha_fin.value){
      val_fecha_fin = false;
      let nameError = '<p class="w3-text-red">Fecha fin debe ser posterior a fecha de inicio </p>';
      errors.push(nameError);
    }
    if(regexFecha.test(fecha_inicio.value) && regexFecha.test(fecha_fin.value) && regexName.test(name.value) && val_fecha_fin){
        return true;
    }
  
    for (let i = 0; i < errors.length; i++) {
      div_error_section.innerHTML += errors[i];
    }
    submit.preventDefault();
  };

  /*
  valida la informacion (fechas) para actualizar los plazos de una evaluacion.
  */
  function validarActualizacion(submit, form_id){
    let form = document.querySelector(`#${form_id}`);
    let div_error_section = form.querySelector("#errors-section");
    div_error_section.innerHTML = "";
    let fecha_inicio = form.querySelector("#fecha-inicio");
    let fecha_fin = form.querySelector("#fecha-fin");
    let regexFecha = new RegExp("[0-9]{4}-[0-9]{2}-[0-9]{2}");
    let errors = [];
    let val_fecha_fin = true;
    if (!regexFecha.test(fecha_inicio.value)) {
      let nameError = `<p>Error en fecha de inicio</p>`;
      errors.push(nameError);
    }
    if(!regexFecha.test(fecha_fin.value)){
        let nameError = `<p class="w3-text-red">Error en fecha fin</p>`;
      errors.push(nameError);
    }

    if(fecha_inicio.value > fecha_fin.value){
      val_fecha_fin = false;
      let nameError = '<p class="w3-text-red">Fecha fin debe ser posterior a fecha de inicio </p>';
      errors.push(nameError);
    }
    if(regexFecha.test(fecha_inicio.value) && regexFecha.test(fecha_fin.value)){
      return true;
    }
    for (let i = 0; i < errors.length; i++) {
      div_error_section.innerHTML += errors[i];
    }
    submit.preventDefault();
  }

  /*
  Popea un formulario para la modificacion de una evaluacion.
  */
  function modificarEvaluacion(id){
    document.getElementById('modificar').style.display = "block";
    document.getElementById("post_id").value = id;
    fetch("/ajax/evaluacion/update?query_id=" + id ,{
      method: 'GET',
      headers: { //headers of the submition
        'Accept': 'application/json, text/plain, */*',
        'Content-type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest'
      },
      credentials: 'include'
    })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => {
        let elem = document.getElementById("rubrica_select");
        let elem2 = document.getElementById("mod_ul");
        elem2.innerHTML = data["form"];
        elem.innerHTML = data["form_rubrica"];
      });
  }



  /*
  Obtienes las rubricas para reasignar a la evaluacion a traves de un formulario

  @deprecated
  */
  function cambiarRubrica(){
    fetch("/ajax/get/rubricas",{
      method: 'GET',
      headers: { //headers of the submition
        'Accept': 'application/json, text/plain, */*',
        'Content-type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest'
      },
      credentials: 'include'
    })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => {
        let elem = document.getElementById("rubrica_select");
        let elem2 = document.getElementById("mod_ul");
        elem2.innerHTML = data["form"];
        elem.innerHTML = data["form_rubrica"];
      });
  }

</script>
{% endblock%}