{% extends '../base.html' %}
{% load static%}
{% block content %} 
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<style>
.presentado{
  color:rgb(0, 180, 0);
} 
</style>
  {% if evaluacion and curso %}
  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
  {% if evaluacion.is_Open %}
    <h1 class="w3-xxxlarge w3-text-red"><b> Evaluación <i class="w3-text-green"> en curso</i> </b></h1>
    {% else %}
    <h1 class="w3-xxxlarge w3-text-red"><b> Evaluación <i class="w3-text-red"> cerrada </i> </b></h1>
    {% endif %}
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">
    
    <p><b></b> {{evaluacion.nombre}}  <i>{{curso.código}}-{{curso.número_sección}}  {{nombre_curso}} {{semestre}} {{curso.año}} </i></p>
    <br>
  

  <!-- agregar evaluador-->
  <div id="agregar" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
          <span onclick="document.getElementById('agregar').style.display = 'none';"
            class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
          <!--Formulario evaluador-->
            <form id="evaluador_agregado" enctype="multipart/form-data" action="" method="post" class="w3-container">
            {% csrf_token %}
            <div class="w3-section" id="errors-section">
            </div>
            <div class="w3-section">
            <div class='w3-ul' id='list_evaluadores'>

            </div>
              {% comment %} <button onclick="" class="w3-button w3-block w3-red w3-section w3-padding"
                type="submit">Agregar</button> {% endcomment %}
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- fin agregar evaluador -->

  <!-- Agregar presentadores -->
  <div id="agregar_presentador" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
          <span onclick="document.getElementById('agregar_presentador').style.display = 'none';"
            class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
          <!--Formulario evaluador-->
            <form id="presentador_agregado" enctype="multipart/form-data" action="" method="post" class="w3-container">
            {% csrf_token %}
            <div class="w3-section">
            <div class='w3-ul' id='list_presentadores'>
            </div>
              {% comment %} <button onclick="" class="w3-button w3-block w3-red w3-section w3-padding"
                type="submit">Agregar</button> {% endcomment %}
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- evaluadores-->
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i> </li>
        {% for evaluador in evaluadores %}
        <form id="evaluador_eliminado" enctype="multipart/form-data" action="" method="post" class="w3-container">
        {% csrf_token %}
        {% if user.email != evaluador.email %}
        <li class=" w3-padding-16"> {{evaluador.first_name}} {{evaluador.last_name}} 
                <button style="margin-left: 10px" class="w3-large fas fa-times" type="submit" onclick="deleteEvaluadorEvaluando('{{ evaluador.email }}', '{{evaluacion.id}}', '{{equipo.id}}' )"></button>
           </li>
        {% else %}
        <li class=" w3-padding-16"> {{evaluador.first_name}} {{evaluador.last_name}} 
           </li>
        {% endif %}
        </form>
        {% empty %}
        {% endfor %}
        <li class="opcion w3-padding-16"> 
          <i style="margin-left: 10px" class="fas fa-user-plus" onclick="GetEvaluadores('{{evaluacion.id}}')"></i> 
        </li>
      </ul>
    </div>
    <!-- Equipo  a evaluar -->
      <div class="w3-row-padding" style="margin-top:30px">
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i class="fas fa-user-friends"></i></li>
            {% for miembro in miembros %}
              {% if miembro.Presentó %}
                <li class="presentado w3-padding-16"> {{miembro.Nombre}} <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
              {% else %}
                <li class="w3-padding-16"> {{miembro.Nombre}} </li>
              {% endif %}
            {% empty %}
            {% endfor %}

            {% comment %} <li class="presentado w3-padding-16">Pablo Aliaga <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
            <li class="w3-padding-16">Bastián Matamala</li>
            <li class="presentado w3-padding-16">Camila Quilape <i class="far fa-check-circle"></i><i class="w3-small">ya presentó</i></li>
            <li class=" w3-padding-16">Andrea Park</li> {% endcomment %}
          </ul>
        </div>
            
        <div class="w3-half w3-margin-bottom">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros que presentan <i class="fas fa-chalkboard-teacher"></i></li>
            {% for miembro in presentando %}
            <form id="presentador_eliminado" enctype="multipart/form-data" action="" method="post" class="w3-container">
        {% csrf_token %}
            <li class="w3-padding-16"> {{miembro.Nombre}} <button style="margin-left: 10px" class="w3-large fas fa-times" type="submit" onclick="deletePresentador('{{miembro.id}}', '{{evaluacion.id}}')"></button></li>
            </form>
            {% empty %}
            {% endfor %}
            {% if equipo %}
            <li class=" opcion w3-padding-16" id="mas" onclick="getPresentadores('{{evaluacion.id}}', '{{equipo.id}}')"> Agregar presentador <i style="margin-left: 10px"  class="fas fa-user-plus"></i></li>
            {% endif %}
            
          </ul>
        </div>
      </div>
      


    <!-- Evaluar -->
    <form id="evaluacion" enctype="multipart/form-data" action="/evaluacion/evaluar/terminado/{{evaluacion.id}}"  method="post" onsubmit="return confirmarEnvio({{num_aspectos}}, {{max_length}}) && confirmarTodosEvaluaron('{{evaluacion.id}}', '{{equipo.id}}')">
    {% csrf_token %}
    <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p> 
    
    {% for aspecto in rubrica %}
    {% with forloop.counter0 as j %}
    {% if aspecto != rubrica|first %}
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        {% for elemento in aspecto %}
        {% if elemento == aspecto|first %}
        <li class="w3-orange w3-xlarge w3-padding-32" id="{{j}}-aspecto-li"> {{elemento}} {% comment %} <i class="far fa-check-circle"></i> {% endcomment %} 
        <i class="fas fa-exclamation-circle" id="{{j}}-aspecto-circle"></i><i class="w3-medium" id="{{j}}-aspecto-text"> falta seleccionar</i></li>
        {% else %}
        {% with forloop.counter0 as i %}
        {% for puntaje in puntajes %}
        {% if forloop.counter0 == i %}
            <li class="option w3-padding-16" id="{{j}}-{{i}}" onclick="selectAspecto('{{j}}', '{{i}}', {{max_length}})"> <input type="radio" id="input-{{j}}-{{i}}" style="display: none;" name="{{j}}" value="{{puntaje}}"> {{ puntaje}} : {{ elemento}}
            </li>
        {% endif %}
        {% endfor %}
        {% endwith %}
        {% endif %}
        {% endfor%}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    {% endfor %}
    <input type="hidden" name="num_aspectos" value="{{num_aspectos}}">
    <input type="hidden" name="max_length" value="{{max_length}}">
    <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
                <div> <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final 
                <input class="w3-input w3-border w3-round" type="text" name="tiempo" size="3" id="tiempo" placeholder="HH:MM" style="width:15%; display:inline; margin-left: 10px"></span>
                </div>
                <div>
                <i class="w3-text-red" id="tiempo-respuesta"> </i>
                </div>
            </div>
    


            {% comment %} <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
                <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final 
                <input class="w3-input w3-border w3-round" type="number" size="1" placeholder="15" style="width:15%; display:inline; margin-left: 10px"> : <input class="w3-input w3-border w3-round" style="width:15%; display:inline" type="number" placeholder="35"></span>
            </div> {% endcomment %}

            <div class="w3-panel w3-right w3-half">
                <button type="submit" class="w3-button w3-xlarge w3-red" style="margin-left: 15%"> <i class="fas fa-envelope-open-text"></i> Enviar evaluación</button>
        
            </div>
        </form>
  </div>
<!-- End page content -->
</div>
{% endif %}

<script>
    /*
    GetEvaluadores(id): recibe el id la evaluacion y obtiene de forma asincrona los 
    evaluadores que no estan participando en la evaluacion, agregandolos a un Formulario
    @id: id de la evaluacion
    return: Nada, modifica el html
    */
    function GetEvaluadores(id) {
      fetch("/ajax/evaluacion/evaluadores?query_id=" + id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        console.log(data['form']);
        document.getElementById('agregar').style.display = 'block';
        let option = document.getElementById('list_evaluadores');
        option.innerHTML = "";
        let ul= document.createElement("ul");
        ul.innerHTML = data['form'];
        option.appendChild(ul);
      });
  }

  /*
    getPresentadores(id, id_equipo): recibe el id la evaluacion y el id del equipo, para obtener, de forma asincrona, los miembros que no 
    estan asociados como presentadores agregandolos a un Formulario
    @id: id de la evaluacion
    @id_equipo: id del equipo seleccionado
    return: Nada, modifica el html
    */
    function getPresentadores(id, id_equipo) {
      fetch("/ajax/evaluacion/presentadores?query_id=" + id + "&query2=" + id_equipo, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        document.getElementById('agregar_presentador').style.display = 'block';
        let option = document.getElementById('list_presentadores');
        let ul = document.createElement("ul");
        ul.innerHTML = data['form'];
        option.appendChild(ul);
      });
  }

  /*
  deleteEvaluador(evaluador_id, evaluacion_id): Recibel el id (correo) de un evaluador y 
  el id de la evaluacion y desasocia el evaluador de la evaluacion.
  @evaluador_id: correo del evaluador
  @evaluacion_id: id de la evaluacion
  return: void
  */
  function deleteEvaluadorEvaluando(evaluador_id, evaluacion_id, equipo_id){
    fetch("/ajax/evaluacion/evaluador/eliminar?query_id=" + evaluador_id +"&query2=" + evaluacion_id + "&query3=" + equipo_id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      });
    
  }
  /*
  deletePresentador(presentador_id, evaluacion_id): Recibe el id de un miembro del equipo seleccionado y 
  el id de la evaluacion asociada y descarta al miembro como presentador
  @presentador_id: id del miembro
  @evaluacion_id: id de la evaluacion
  return: void
  */
  function deletePresentador(presentador_id, evaluacion_id){
    fetch("/ajax/evaluacion/presentador/eliminar?query_id=" + presentador_id +"&query2=" + evaluacion_id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
    });
  }
  /*
  GetMiembros(id): obtiene de forma asincrona los miembros de el equipo asociado
  @id: id del equipo
  return: void 
  */
  function GetMiembros(id){
    fetch("/ajax/evaluacion/equipo/miembros?id=" + id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        console.log(data['form']);
        document.getElementById('agregar').style.display = 'block';
        let option = document.getElementById('list_evaluadores');
        option.innerHTML = "";
        let ul = document.createElement("ul");
        ul.innerHTML = data['form'];
        option.appendChild(li);
      });
  }

/*
    Cambia el color a verde para el valor seleccionado para un aspecto
    @j: index del aspecto
    @i: index del valor

    @return: void 
*/
    function selectAspecto(j, i, max_length){
        var checkbox = document.getElementById("input"+"-"+j+"-"+i);
        if( !checkbox.checked){
            checkbox.checked = true
            document.getElementById(j+"-"+i).className = "option w3-padding-16 selected";
            for(var k = 1; k < max_length ; k++){
                try{
                    if(k + "" != i){
    
                        document.getElementById(j+"-"+k).className = "option w3-padding-16";
                    }
                }
                catch(error){
                    break;
                }
            }
            document.getElementById(j+"-aspecto-li").className = "w3-red w3-xlarge w3-padding-32";
            document.getElementById(j+"-aspecto-circle").className = "far fa-check-circle";
            try{
                var eliminar = document.getElementById(j+"-aspecto-text");
                eliminar.parentNode.removeChild(eliminar);
            }
            catch(error){
                
            }

        }
    }
    /*
    confirmarEnvio: Verifica que se ha seleccionado un valor para cada aspecto.
    @num_aspectos: cantidad de asectos
    @max_length: maxima cantidad de valores para algun aspecto
    @return: boolean
    */
    function confirmarEnvio(num_aspectos, max_length){
        var val_input = false
        for(var j = 1; j < num_aspectos; j++){
            for(var i = 1; i<= max_length;i++){
                val_input=false
                console.log(i);
                try{
                    checkbox = document.getElementById("input-"+j+"-"+i);
                    if(checkbox.checked){
                        console.log("checked")
                        val_input = true;
                        break;
                    }
                }
                catch(error){
                    val_input = false;
                    break;
                }
            }
            if(val_input == false){
                alert("Debe seleccionar un valor para cada aspecto");
                return false;
            }

        }
    }

    /*
    confirmarTodosEvaluaron: Verifica que todos los evaluadores a excepcion del admin hayan terminado de evaluar
    @id: id de la evaluacion
    @id_equipo: id del equipo a evaluar
    @return: boolean
    */
    function confirmarTodosEvaluaron(id, id_equipo){
        fetch("/ajax/evaluacion/evaluando/enviar?query=" + id,{
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        if(data["valido"]){
            return true;
        }
        else{
            alert("Faltan evaluadores que terminen de evaluar");
            return false;
        }
      });
    }

</script>
{% endblock %}