{% extends '../base.html' %}
{% load static%}
{%block content%} 
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<style>
.presentado{
  color:rgb(0, 180, 0);
} 
</style>
  {% if evaluacion and curso %}
  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b> Evaluación <i class="w3-text-green"> en curso</i> </b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">
    
    <p><b></b> {{evaluacion.nombre}} <i>{{curso.código}}-{{curso.número_sección}} {{semestre}} {{curso.año}} </i></p>
    <br>
  

  <!-- agregar evaluador-->
  <div id="agregar" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
          <span onclick="vaciar('list_evaluadores')"
            class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
          <!--Formulario evaluador-->
            <form id="evaluador_agregado" enctype="multipart/form-data" action="" method="post" class="w3-container">
            {% csrf_token %}
            <div class="w3-section" id="errors-section">
            </div>
            <div class="w3-section">
            <ul class='w3-ul' id='list_evaluadores'>

            </ul>
              <button onclick="" class="w3-button w3-block w3-red w3-section w3-padding"
                type="submit">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- fin agregar evaluador -->
  
    <!-- evaluadores-->
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i> </li>
        {% for evaluador in evaluadores %}
        <form id="evaluador_eliminado" enctype="multipart/form-data" action="" method="post" class="w3-container">
        {% csrf_token %}
        <li class=" w3-padding-16 presentado"> {{evaluador.nombre}} {{evaluador.apellido}} 
                <i style="margin-left: 10px" class="far fa-check-circle"></i>
                <i class="w3-small"> ya evaluó</i> 
                <button style="margin-left: 10px" class="w3-large fas fa-times" type="submit" onclick="deleteEvaluador('{{ evaluador.correo_Electrónico }}', '{{evaluacion.id}}' )"></button>
           </li>
        </form>
        {% empty %}
        {% endfor %}
        <li class="opcion w3-padding-16"> 
          <i style="margin-left: 10px" class="fas fa-user-plus" onclick="GetEvaluadores('{{evaluacion.id}}')"></i> 
        </li>
      </ul>
    </div>

    <!-- equipos que no han presentado -->
    <div class="w3-panel  w3-margin-bottom">
    <form action= "#">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Equipos faltantes<i class="fas fa-user-friends"></i> </li>
        <div style="overflow-y: scroll; heigth : 10px">
        {% if equipos %}
        <form id="seleccionar_equipo" enctype="multipart/form-data" action="" method="post" class="w3-container">
        {% csrf_token %}
        {% for equipo in equipos%}
          <li class="w3-padding-16"><input type="submit" name="equipo" value="{{equipo.id}}"> Equipo {{equipo.número}}:  {{equipo.nombre}} <i style="margin-left: 10px" class="w3-large fas fa-times"></i>
          </li>
        {% endfor %}
        </form>
        {% endif %}
        </div>
        <li class="opcion w3-padding-16"> 
          <i style="margin-left: 10px" class="fas fa-user-plus" onclick="GetEvaluadores('{{evaluacion.id}}')"></i> 
        </li>
      </ul>
      </form>
    </div>

    <!-- Equipo  a evaluar -->
      <div class="w3-row-padding" style="margin-top:30px">
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i class="fas fa-user-friends"></i></li>
            
            <li class="presentado w3-padding-16">Pablo Aliaga <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
            <li class="w3-padding-16">Bastián Matamala</li>
            <li class="presentado w3-padding-16">Camila Quilape <i class="far fa-check-circle"></i><i class="w3-small">ya presentó</i></li>
            <li class=" w3-padding-16">Andrea Park</li>
          </ul>
        </div>
            
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros que presentan <i class="fas fa-chalkboard-teacher"></i></li>
            <li class="w3-padding-16">Andrea Park <i style="margin-left: 10px" class="w3-large fas fa-times"></i></li>
            <li class=" opcion w3-padding-16" id="mas" onclick=""> Agregar presentador <i style="margin-left: 10px"  class="fas fa-user-plus"></i></li>
            
          </ul>
        </div>
      </div>
      


    <!-- Evaluar -->
    {% if rubrica%}

    <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p> </div>
    {% for aspecto in rubrica%}
    {% if aspecto != rubrica|first %}
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        {% for elemento in aspecto %}
        {% if elemento == aspecto|first %}
        <li class="w3-red w3-xlarge w3-padding-32"> {{elemento}} <i class="far fa-check-circle"></i></li>
        {% else %}
        <li class="opcion w3-padding-16"> {{elemento}}
          </li>
        {% endif %}
        {% endfor%}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

            <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
                <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final 
                <input class="w3-input w3-border w3-round" type="number" size="1" placeholder="15" style="width:15%; display:inline; margin-left: 10px"> : <input class="w3-input w3-border w3-round" style="width:15%; display:inline" type="number" placeholder="35"></span>
            </div>

            <div class="w3-panel w3-right w3-half">
                <button class="w3-button w3-xlarge w3-red" style="margin-left: 15%"> <i class="fas fa-envelope-open-text"></i> Entregar evaluación</button>
            </div>
  </div>
<!-- End page content -->
</div>
{% endif %}

<script>
    /*
    GetEvaluadores(id): recibe el id la evaluacion y obtiene de forma asincrona los 
    evaluadores que no estan participando en la evaluacion, agregandolos a un Formulario
    @id: id de la evaluacion
    return: Nada, modifica el html
    */
    function GetEvaluadores(id) {
      fetch("/ajax/evaluacion/evaluadores?query_id=" + id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        console.log(data['form']);
        document.getElementById('agregar').style.display = 'block';
        let option = document.getElementById('list_evaluadores');
        let li = document.createElement("li");
        li.innerHTML = data['form'];
        option.appendChild(li);
      });
  }

  /*
  deleteEvaluador(evaluador_id, evaluacion_id): Recibel el id (correo) de un evaluador y 
  el id de la evaluacion asociada, 
  @evaluador_id: correo del evaluador
  @evaluacion_id: id de la evaluacion
  return: void
  */
  function deleteEvaluador(evaluador_id, evaluacion_id){
    fetch("/ajax/evaluacion/evaluador/delete?evaluador=" + evaluador_id +"&evaluacion=" + evaluacion_id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      });
    
  }
  /*
  vaciar: elimina los elementos d
  */
  function vaciar(id){
    let elem = document.getElementById(id);
    elem.innerHTML = "";
    document.getElementById('agregar').style.display = 'none';
  }
</script>
{% endblock %}