{% extends '../base.html' %}
{% load static%}
{%block content%} 
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<style>
.presentado{
  color:rgb(0, 180, 0);
} 
</style>
  {% if evaluacion and curso %}
  <!-- Evaluacion -->
  <div class="w3-container" id="designers" style="margin-top:50px">
    <h1 class="w3-xxxlarge w3-text-red"><b> Evaluación <i class="w3-text-green"> en curso</i> </b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="w3-container w3-center">
    
    <p><b></b> {{evaluacion.nombre}}  <i>{{curso.código}}-{{curso.número_sección}}  {{nombre_curso}} {{semestre}} {{curso.año}} </i></p>
    <br>
  

  <!-- agregar evaluador-->
  <div id="agregar" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
          <span onclick="document.getElementById('agregar').style.display = 'none';"
            class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
          <!--Formulario evaluador-->
            <form id="evaluador_agregado" enctype="multipart/form-data" action="" method="post" class="w3-container">
            {% csrf_token %}
            <div class="w3-section" id="errors-section">
            </div>
            <div class="w3-section">
            <div class='w3-ul' id='list_evaluadores'>

            </div>
              <button onclick="" class="w3-button w3-block w3-red w3-section w3-padding"
                type="submit">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- fin agregar evaluador -->

  <!-- Agregar presentadores -->
  <div id="agregar_presentador" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
        <div class="w3-center"><br>
          <span onclick="document.getElementById('agregar_presentador').style.display = 'none';"
            class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
          <!--Formulario evaluador-->
            <form id="presentador_agregado" enctype="multipart/form-data" action="" method="post" class="w3-container">
            {% csrf_token %}
            <div class="w3-section">
            <div class='w3-ul' id='list_presentadores'>
            </div>
              <button onclick="" class="w3-button w3-block w3-red w3-section w3-padding"
                type="submit">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  
    <!-- evaluadores-->
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Evaluadores <i class="fas fa-user-tie"></i> </li>
        {% for evaluador in evaluadores %}
        <form id="evaluador_eliminado" enctype="multipart/form-data" action="" method="post" class="w3-container">
        {% csrf_token %}
        {% if user.email != evaluador.email %}
        <li class=" w3-padding-16"> {{evaluador.first_name}} {{evaluador.last_name}} 
                <button style="margin-left: 10px" class="w3-large fas fa-times" type="submit" onclick="deleteEvaluadorEvaluando('{{ evaluador.email }}', '{{evaluacion.id}}', '{{equipo.id}}' )"></button>
           </li>
        {% else %}
        <li class=" w3-padding-16"> {{evaluador.first_name}} {{evaluador.last_name}} 
          <button style="margin-left: 10px" class="w3-large fas fa-times" type="submit" onclick="deleteEvaluadorEvaluando('{{ evaluador.email }}', '{{evaluacion.id}}', '{{equipo.id}}' )" disabled></button>
           </li>
        {% endif %}
        </form>
        {% empty %}
        {% endfor %}
        <li class="opcion w3-padding-16"> 
          <i style="margin-left: 10px" class="fas fa-user-plus" onclick="GetEvaluadores('{{evaluacion.id}}')"></i> 
        </li>
      </ul>
    </div>

    <!-- equipos que no han presentado -->
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Equipos faltantes<i class="fas fa-user-friends"></i> </li>
        <div>
        <form id="seleccionar_equipo" enctype="multipart/form-data" action="" method="get">
        {% csrf_token %}
        {% if equipos %}
        {% for e in equipos%}
          {% if equipo and equipo == e%}
          <li class="w3-padding-16 selected"><input type="radio" name="equipo" value="{{equipo.id}}" checked> Equipo {{e.número}}:  {{e.nombre}} 
          </li>
          {% else %}
          <li id="{{e.id}}" class="w3-padding-16"> <input type="radio" onclick="changeColor(this, '{{e.id}}');" name="equipo" value="{{e.id}}" > Equipo {{e.número}}:  {{e.nombre}}
          </li>
          {% endif%}
        {% endfor %}
        {% endif %}
        </div>
        <li class="opcion w3-padding-16"> 
          <button type="submit"> Seleccionar equipo </button>
        </li>
      </ul>
      </form>
    </div>

    <!-- Equipo  a evaluar -->
      <div class="w3-row-padding" style="margin-top:30px">
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros del equipo <i class="fas fa-user-friends"></i></li>
            {% for miembro in miembros %}
              {% if miembro.Presentó %}
                <li class="presentado w3-padding-16"> {{miembro.Nombre}} <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
              {% else %}
                <li class="w3-padding-16"> {{miembro.Nombre}} </li>
              {% endif %}
            {% empty %}
            {% endfor %}

            {% comment %} <li class="presentado w3-padding-16">Pablo Aliaga <i class="far fa-check-circle"></i> <i class="w3-small">ya presentó</i></li>
            <li class="w3-padding-16">Bastián Matamala</li>
            <li class="presentado w3-padding-16">Camila Quilape <i class="far fa-check-circle"></i><i class="w3-small">ya presentó</i></li>
            <li class=" w3-padding-16">Andrea Park</li> {% endcomment %}
          </ul>
        </div>
            
        <div class="w3-half w3-margin-bottom ">
          <ul class="w3-ul w3-light-grey w3-center w3-card-4">
            <li class="w3-dark-grey w3-xlarge w3-padding-32">Miembros que presentan <i class="fas fa-chalkboard-teacher"></i></li>
            {% for miembro in presentando %}
            <form id="presentador_eliminado" enctype="multipart/form-data" action="" method="post" class="w3-container">
        {% csrf_token %}
            <li class="w3-padding-16"> {{miembro.Nombre}} <button style="margin-left: 10px" class="w3-large fas fa-times" type="submit" onclick="deletePresentador('{{miembro.id}}', '{{evaluacion.id}}')"></button></li>
            {% empty %}
            {% endfor %}
            {% if equipo %}
            <li class=" opcion w3-padding-16" id="mas" onclick="getPresentadores('{{evaluacion.id}}', '{{equipo.id}}')"> <i style="margin-left: 10px"  class="fas fa-user-plus"></i></li>
            {% endif %}
            
          </ul>
        </div>
      </div>
      


    <!-- Evaluar -->
    {% if rubrica%}

    {% comment %} <p>Seleccione el nivel de logro alcanzado por el grupo en cada ámbito</p> </div> {% endcomment %}
    <p>Rúbrica</p>

    {% for aspecto in rubrica%}
    {% if aspecto != rubrica|first %}
    <div class="w3-panel  w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center w3-card-4">
        {% for elemento in aspecto %}
        {% if elemento == aspecto|first %}
        <li class="w3-red w3-xlarge w3-padding-32"> {{elemento}} {% comment %} <i class="far fa-check-circle"></i> {% endcomment %} </li>
        {% else %}
        <li class="w3-padding-16"> {{elemento}}
          </li>
        {% endif %}
        {% endfor%}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
 
            {% comment %} <div class="w3-panel w3-margin-bottom w3-card-4 w3-padding-16 w3-half w3-right" style="margin-right: 1.8%">
                <span style="margin-left:21%"><i class="far fa-clock"></i> Hora final 
                <input class="w3-input w3-border w3-round" type="number" size="1" placeholder="15" style="width:15%; display:inline; margin-left: 10px"> : <input class="w3-input w3-border w3-round" style="width:15%; display:inline" type="number" placeholder="35"></span>
            </div> {% endcomment %}

            <div class="w3-panel w3-right w3-half">
                {% if equipo %}
                <a href="/evaluacion/evaluar/{{evaluacion.id}}" ><button type="button" class="w3-button w3-xlarge w3-red" style="margin-left: 15%"> <i class="fas fa-envelope-open-text"></i> Comenzar evaluación</button></a>
                {% else %}
                <a href="#"  onclick="alert('Debe seleccionar un equipo a evaluar')"><button class="w3-button w3-xlarge w3-red" style="margin-left: 15%"> <i class="fas fa-envelope-open-text"></i> Comenzar evaluación</button></a>
                {% endif %}
            </div>
  </div>
<!-- End page content -->
</div>
{% endif %}

<script>
    /*
    GetEvaluadores(id): recibe el id la evaluacion y obtiene de forma asincrona los 
    evaluadores que no estan participando en la evaluacion, agregandolos a un Formulario
    @id: id de la evaluacion
    return: Nada, modifica el html
    */
    function GetEvaluadores(id) {
      fetch("/ajax/evaluacion/evaluadores?query_id=" + id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        console.log(data['form']);
        document.getElementById('agregar').style.display = 'block';
        let option = document.getElementById('list_evaluadores');
        option.innerHTML = "";
        let ul= document.createElement("ul");
        ul.innerHTML = data['form'];
        option.appendChild(ul);
      });
  }

  /*
    getPresentadores(id, id_equipo): recibe el id la evaluacion y el id del equipo, para obtener, de forma asincrona, los miembros que no 
    estan asociados como presentadores agregandolos a un Formulario
    @id: id de la evaluacion
    @id_equipo: id del equipo seleccionado
    return: Nada, modifica el html
    */
    function getPresentadores(id, id_equipo) {
      fetch("/ajax/evaluacion/presentadores?query_id=" + id + "&query2=" + id_equipo, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        document.getElementById('agregar_presentador').style.display = 'block';
        let option = document.getElementById('list_presentadores');
        let ul = document.createElement("ul");
        ul.innerHTML = data['form'];
        option.appendChild(ul);
      });
  }

  /*
  deleteEvaluador(evaluador_id, evaluacion_id): Recibel el id (correo) de un evaluador y 
  el id de la evaluacion y desasocia el evaluador de la evaluacion.
  @evaluador_id: correo del evaluador
  @evaluacion_id: id de la evaluacion
  return: void
  */
  function deleteEvaluador(evaluador_id, evaluacion_id){
    fetch("/ajax/evaluacion/evaluador/eliminar?query_id=" + evaluador_id +"&query2=" + evaluacion_id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      });
    
  }
  /*
  deletePresentador(presentador_id, evaluacion_id): Recibe el id de un miembro del equipo seleccionado y 
  el id de la evaluacion asociada y descarta al miembro como presentador
  @presentador_id: id del miembro
  @evaluacion_id: id de la evaluacion
  return: void
  */
  function deletePresentador(presentador_id, evaluacion_id){
    fetch("/ajax/evaluacion/presentador/eliminar?query_id=" + presentador_id +"&query2=" + evaluacion_id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
    })
    .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        var eliminado = data['eliminado'];
        if(!eliminado){
          alert("El evaluador ya ha inrgesado notas, no es posible eliminarlo")
        }
  }
  }
  /*
  GetMiembros(id): obtiene de forma asincrona los miembros de el equipo asociado
  @id: id del equipo
  return: void 
  */
  function GetMiembros(id){
    fetch("/ajax/evaluacion/equipo/miembros?id=" + id, {
        method: 'GET',
        headers: { //headers of the submition
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'multipart/form-data',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'include'
      })
      .then((response) => { //al completarse la peticion, la respuesta la pasamos a un json
        return response.json();
      })
      .then(data => { //ahora manipulamos los datos de ese json para generar el html
        document.getElementById('agregar').style.display = 'block';
        let option = document.getElementById('list_evaluadores');
        option.innerHTML = "";
        let ul = document.createElement("ul");
        ul.innerHTML = data['form'];
        option.appendChild(li);
      });
  }

  /*
    changeColor(checkbox, label_id): cambia los colores de los elementos de input radio para equipos
    resaltando el label del input radio checked.
    @checkbox: elemento input de tipo radio que se seleccionado
    @label_id: id del label que contiene el checkbox
    
    @return: void
  */
  function changeColor(checkbox, label_id){
    let radios = document.getElementsByName("equipo");
    for(var i = 0; i < radios.length; i++){
      if(radios[i].value != '{{equipo.id}}'){
        if(radios[i].value == label_id){
          document.getElementById(label_id).style.background = 'LIGHTSALMON';
        }
        else{
          document.getElementById(radios[i].value).style.background = 'WHITE';
        }
      }
    }
  }
</script>
{% endblock %}